---
import SectionCard from '../components/SectionCard.astro'
import Layout from '../layouts/Layout.astro'
import ContactButton from '../components/ContactButton.astro'
import TabNavigator from '../components/TabNavigator.astro'

import { contacts } from '../data/contacts'
---

<Layout>
    <div
        class="w-full px-4 sm:px-12 lg:px-10 py-[5vh] flex flex-col lg:flex-row gap-8 justify-center overflow-x-hidden"
    >
        <div class="lg:basis-lg flex flex-col items-stretch gap-5">
            <div class="flex flex-col sm:flex-row lg:flex-col gap-3.5 sm:gap-5 lg:gap-3.5">
                <div
                    class="flex-2 flex gap-3 items-center justify-start p-3 rounded-3xl bg-gray-950"
                >
                    <div class="w-23 aspect-[7/8] bg-white rounded-2xl overflow-hidden">
                        <img
                            src="src/data/Portrait TLG head + neck.jpg"
                            alt="Portrait"
                            class="w-full h-full object-cover"
                        />
                    </div>
                    <div
                        class="flex-5 lg:flex-[1.6] h-full flex flex-col justify-center gap-x-1.5 lg:flex-wrap min-w-0 w-full
                            text-[30px] sm:text-[32px] leading-[0.92] font-medium"
                    >
                        <span class="break-words whitespace-normal xs text-lg mb-1"
                            >👋 Hey, I'm</span
                        >
                        <span class="break-words whitespace-normal text-violet-200 text-glow-s">
                            Tancrède
                        </span>
                        <span class="whitespace-normal text-violet-200 text-glow-s">
                            Lamort de Gail
                        </span>
                    </div>
                </div>

                <div
                    class="-m-3 p-3 flex-1 flex flex-row sm:flex-col lg:flex-row flex-wrap justify-start sm:justify-center lg:justify-start gap-2 font-regular overflow-clip"
                >
                    {contacts.map((contact) => <ContactButton {...contact} />)}
                </div>
            </div>
            <div class="flex flex-col gap-3 overflow-auto max-h-[40vh] lg:max-h-full">
                <p>
                    Hello! I'm Tancrède, a computer scientist and robotics engineer-in-training.
                    I've always been captivated by the process of turning complex ideas into
                    tangible reality, a passion that took me from a First-Class Honours CS degree at
                    McGill to my current MSc in Robotics at EPFL, where I'm focused on building the
                    brains behind intelligent machines.
                </p>
                <p>
                    From programming autonomous robots to creating practical, robust web apps, or
                    spending sleepless nights designing and developing games, I'm blending technical
                    skill with creative expression in all kinds of projects. And when I'm not
                    building, I'm learning. You'll find me lost in the trenches of AI/ML research,
                    exploring novel open-source projects, or binging the latest talks, blogs &
                    videos on everything from control theory to systems design - chasing my
                    curiosity down any rabbit hole I can find to stay on the cutting edge.
                </p>
                <p>
                    My goal is to build resilient, impactful systems, whether they're navigating the
                    physical world or processing massive datasets. Looking ahead, I am eager to
                    translate my academic background into industry experience and am actively
                    seeking a challenging 6-month internship beginning in late summer or fall 2026.
                    I'm particularly excited by opportunities in ML engineering, robotics, and
                    applied AI research. I'm always eager to connect with others who share a
                    fascination for this fast-moving field. Whether you want to discuss the latest
                    research, exchange ideas, or just say hi, please feel free to reach out and
                    start a conversation.
                </p>
            </div>
        </div>
        <div class="max-h-[72vh] sm:max-h-[84vh] lg:max-h-full basis-3xl flex flex-col">
            <TabNavigator />
        </div>
    </div>
</Layout>
