---
import ProjectCard from './ProjectCard.astro'
import type { ProjectProps } from '../data/projects'
import { categories } from '../data/projects' // Import categories for buttons
import ProjectModal from './ProjectModal.astro'

export interface Props {
    projects: ProjectProps[]
}

const { projects } = Astro.props
---

<div id="project-list" class="group">
    {projects.map((project, i) => <ProjectCard {...project} data-index={i} />)}
</div>
