---
const { title, idx } = Astro.props;
---

<li
    class="h-full p-4 flex-1 rounded-xl bg-gradient-to-t from-gray-600 via-gray-400 to-gray-300 flex"
    style={`z-index: ${2 - idx};`}
>
    {title}
</li>