---
const { title, samples } = Astro.props;
---

<div class="p-3 flex-1 bg-gray-400 rounded-2xl hover:flex-1/6 cursor-pointer transition-all duration-150 ease-out">
    <h1>{title}</h1>
    <ul>
        {samples.map((sample) => (
            <li>
                {sample}
            </li>
        ))}
    </ul>
</div>