@import url('https://fonts.googleapis.com/css2?\
family=Aleo:ital,wght@0,100..900;1,100..900&\
family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&\
family=Noto+Sans+Mono:wght@100..900&\
family=Noto+Sans:ital,wght@0,100..900;1,100..900&\
family=Roboto+Flex:opsz,slnt,wght,YTLC@8..144,-10..0,100..1000,530&\
family=Roboto+Mono:ital,wght@0,100..700;1,100..700&\
family=Roboto+Slab:wght@100..900&\
family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&\
family=Noto+Serif:ital,wght@0,100..900;1,100..900&\
family=Sarala:wght@400;700&\
family=Commissioner:wght@100..900&\
family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&\
family=Oswald:wght@200..700&\
family=Recursive:wght@300..1000&\
family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&\
family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&\
display=swap')
layer(base);

@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans: ui-sans-serif, system-ui;
  --font-serif: Noto Serif, ui-serif, Georgia;
  --font-mono: ui-monospace, SFMono-Regular;
  --font-aleo: Aleo;
  --font-noto: Noto Sans;
  --font-noto-mono: Noto Sans Mono;
  --font-roboto: Roboto Flex;
  --font-roboto-slab: Roboto Slab;
  --font-roboto-mono: Roboto Mono;
  --font-jetbrains-mono: Jetbrains Mono;
  --font-merriweather: Merriweather;
  --font-sarala: Sarala;
  --font-fira-sans: Fira Sans;
  --font-commissioner: Commissioner;
  --font-vollkorn: Vollkorn;
  --font-oswald: Oswald;
  --font-neuton: Neuton;
  --font-recursive: Recursive;

  --text-2xs: 0.675rem, 0.875rem;

  --color-lightest: #ecd5b4;
  --color-lighter: #bb9f81;
  --color-light: #a08567;
  --color-dark: #2d4464;
  --color-darker: #203550;
  --color-darkest: #172637;

  --color-aqua-50: #cff8f2;
  --color-aqua-100: #98f3e5;
  --color-aqua-200: #6be0d3;
  --color-aqua-300: #3dc9b9;
  --color-aqua-400: #249f91;
  --color-aqua-500: #127269;
  --color-aqua-600: #0b4f4d;
  --color-aqua-700: #093d3d;
  --color-aqua-800: #072828;
  --color-aqua-850: #062123;
  --color-aqua-900: #051b1c;
  --color-aqua-950: #051517;

  --shadow-inner-sm: 0 0 0.8rem 0.25rem rgba(0, 0, 0, 0.5) inset;
  --shadow-inner-lg: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.5) inset;

  --drop-shadow-white-sm: 0 0 0.3rem rgba(255, 255, 255, 0.2);
  --drop-shadow-white-md: 0 0 0.5rem rgba(255, 255, 255, 0.24);
  --drop-shadow-white-lg: 0 0 1rem rgba(255, 255, 255, 0.3);

  --animate-blink: blink 1.2s linear infinite;
  --animate-slide-in-right: slide-in-right 1s cubic-bezier(0, 0.9, 0, 1);
  --animate-slide-in-left: slide-in-left 1s cubic-bezier(0, 0.9, 0, 1);
  --animate-slide-in-down: slide-in-down 1s cubic-bezier(0, 0.9, 0, 1);

  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(-8vw);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }
  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(8vw);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }
  @keyframes slide-in-down {
    0% {
      opacity: 0;
      transform: translateY(-8vw);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }
  @keyframes slide-in-up {
    0% {
      opacity: 0;
      transform: translateY(8vw);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }
  @keyframes blink {
    0%,
    45%,
    100% {
      opacity: 0;
    }
    50%,
    95% {
      opacity: 100%;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Webkit */
  }
}

@utility w-responsive {
  @apply mx-auto w-[100vw] sm:w-[80vw] xl:w-[68vw] px-[1vw] sm:px-[2vw] max-w-[1200px] overflow-clip;
}

@utility section-container {
  @apply w-responsive min-h-[100dvh] pt-[8dvh] flex flex-col justify-center items-center
    transition-opacity ease-in-out duration-1000;
}

@utility section-header {
  @apply w-full p-3 py-2 sm:p-5 sm:py-4 xl:p-6 xl:py-5
    /* mb-5 sm:mb-8 xl:mb-10  */
    flex flex-wrap gap-1 sm:gap-y-3 xl:gap-y-5 justify-start items-center
    rounded-lg sm:rounded-xl xl:rounded-2xl bg-aqua-950;
  > h2 {
    @apply drop-shadow-white-sm sm:drop-shadow-white-md;
  }
}

@utility link {
  @apply cursor-pointer
    text-aqua-100/70 fill-aqua-100/70
    transition-transform duration-200 ease-[cubic-bezier(.3,2.2,.7,1)];
}

@utility button {
  @apply link
    px-1.5 py-1.5 sm:px-3 sm:py-2.5
    flex gap-2 justify-center items-center
    font-jetbrains-mono rounded-lg sm:rounded-xl
    text-aqua-200 fill-aqua-200 bg-aqua-950;
  &:hover, &[active="true"] {
    @apply
    scale-97
    text-aqua-800 fill-aqua-800 bg-aqua-300;
  }
}

@utility contact-button {
  @apply button
    text-2xs sm:text-sm xl:text-base;
}

@utility nav-button {
  @apply button sm:w-full font-medium
    flex-1
    transition-all ease-out 
    text-sm sm:text-lg xl:text-xl;
}

@utility tab-button {
  @apply button
    text-xs sm:text-base xl:text-lg;
}

@utility timeline-entry {
  @apply w-full max-w-[1200px] min-h-0
    flex;
  &:hover > .timeline-item {
    @apply scale-100 bg-white/5 border-aqua-100/35;
  }
  &:hover h4 {
    @apply drop-shadow-white-sm;
  }
  &:hover > .timeline-date {
    @apply text-aqua-100/75 drop-shadow-white-sm;
  }
  &:hover > .timeline-date > div {
    @apply bg-aqua-100/75 h-[max(30%,70px)];
  }
}

@utility timeline-date {
  @apply flex-initial my-7 sm:my-12
    font-jetbrains-mono
    leading-[150%] uppercase text-[85%] tracking-tighter sm:tracking-normal font-medium sm:font-bold
    text-aqua-100/35 
    origin-right transition-all duration-250 ease-out;

  > div {
    @apply h-8 mx-auto w-[1px] sm:w-0.5
      bg-aqua-100/0
      origin-right transition-all duration-400 ease-[cubic-bezier(.3,1.4,.4,1)] sm:ease-[cubic-bezier(.3,1.5,.5,1)] xl:ease-[cubic-bezier(.3,1.6,.6,1)];
  }
}

@utility timeline-item {
  @apply flex-1 my-2 sm:my-4 px-3 py-2 sm:px-5.5 sm:py-4 xl:px-6.5 xl:py-5
    flex flex-col gap-2 sm:gap-3 xl:gap-4 
    scale-97
    border sm:border-2 border-aqua-100/15 sm:border-aqua-100/11 
    rounded-xl sm:rounded-2xl xl:rounded-3xl
    origin-left transition-all duration-250 ease-out;
}

@utility timeline-line {
  @apply mr-2.5 -ml-0.5 sm:mr-4 xl:mr-5 w-[3px] sm:w-[4px] xl:w-[5px] bg-aqua-200/35;
}

@utility timeline-line-r {
  @apply ml-2.5 -mr-0.5 sm:ml-4 xl:ml-5 w-[3px] sm:w-[4px] xl:w-[5px] bg-aqua-200/35;
}

@utility image-carousel {
  @apply w-full sm:w-3/4 mx-auto flex flex-col gap-2;

  &> :not(div:first-child) {
    @apply w-full flex gap-3 justify-center;
    &> button {
      @apply button flex-1 max-w-[160px];
    }
    &> h5 {
      @apply mx-2 my-auto
    }
  }
}

@utility images {
  @apply  mx-auto;

  &> * { 
    @apply rounded-lg sm:rounded-xl;
  }
}

@utility underline-on-hover {
  @apply w-0 h-0.5 -mt-0.5
    bg-aqua-100/80 
    transition-all duration-250 ease-out;
  *:hover > & {
    @apply w-full ml-auto;
  }
}

@utility project-header {
  @apply flex flex-wrap gap-x-4 gap-y-1 sm:gap-6 sm:gap-y-1.5 xl:gap-7 xl:gap-y-2 justify-between items-center;
}

@utility project-content {
  @apply flex flex-col gap-1.5 sm:gap-2.5;
}

@utility project-description {
  @apply max-h-[40dvh] sm:max-h-[35dvh] xl:max-h-[30dvh] flex flex-col gap-1.5 sm:gap-2.5 overflow-auto;
}

@utility logo-group {
  @apply w-fit p-2 sm:p-2.5 sm:px-3
    flex flex-wrap gap-2 sm:gap-3 xl:gap-4 items-center 
    rounded-lg sm:rounded-xl bg-aqua-950;
  & > a {
    @apply h-4 sm:h-6 xl:h-7
    transition-all duration-200 ease-out;
    &:hover {
      @apply scale-125 rotate-3 drop-shadow-white-md;
    }
  }
}

@layer components {
  
  main {
    @apply h-screen overflow-y-scroll scroll-smooth disable-scrollbars;
    
    section {
      @apply content-center snap-start snap-always bg-linear-to-b;
    }
    section:last-child {
      @apply pb-[10dvh];
    }
  }

  svg {
    @apply fill-aqua-200;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-jetbrains-mono font-semibold
    text-aqua-200;
  }
  
  h1 { @apply text-5xl sm:text-6xl xl:text-8xl; }
  h2 { @apply text-2xl sm:text-4xl xl:text-5xl; }
  h3 { @apply text-xl sm:text-3xl xl:text-4xl; }
  h4 { @apply text-base sm:text-xl xl:text-2xl; }
  h5 { @apply text-base  sm:text-lg xl:text-xl; }
  h6 { @apply text-base xl:text-lg; }
}

body {
  @apply text-xs sm:text-sm xl:text-base;
  margin: 0;
  min-width: fit-content;
  min-height: 100vh;
}

:root {
  font-family: Noto Sans, Roboto Flex, Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  @apply text-white/85 bg-gradient-to-b from-aqua-700 to-aqua-850;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  scrollbar-width: thin;
  scrollbar-color: #ffffff1f transparent;
}