@import url('https://fonts.googleapis.com/css2?\
family=Aleo:ital,wght@0,100..900;1,100..900&\
family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&\
family=Noto+Sans+Mono:wght@100..900&\
family=Noto+Sans:ital,wght@0,100..900;1,100..900&\
family=Roboto+Flex:opsz,slnt,wght,YTLC@8..144,-10..0,100..1000,530&\
family=Roboto+Mono:ital,wght@0,100..700;1,100..700&\
family=Roboto+Slab:wght@100..900&\
family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&\
family=Noto+Serif:ital,wght@0,100..900;1,100..900&\
family=Sarala:wght@400;700&\
family=Commissioner:wght@100..900&\
family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&\
family=Oswald:wght@200..700&\
family=Recursive:wght@300..1000&\
family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&\
family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&\
display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }
  .disable-scrollbars::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Webkit */
  }

  .w-responsive {
    @apply mx-auto w-[100vw] lg:w-[72vw] 2xl:w-[60vw] px-[3vw] overflow-clip;
  }

  .section-container {
    @apply h-full flex flex-col justify-center 
    transition-opacity ease-in-out duration-1000;
  }
  .section-header {
    @apply mb-5 sm:mb-8 xl:mb-10 
    flex flex-wrap gap-y-5 justify-between items-center;
  }
  
  .link {
    @apply cursor-pointer
    dark:text-aqua-100/70 dark:fill-aqua-100/70
    transition-transform duration-200 ease-[cubic-bezier(.3,2.2,.7,1)];
  }
  .link:hover {
    @apply
    dark:text-aqua-100 dark:fill-aqua-100 dark:drop-shadow-white-sm;
  }

  .button {
    @apply link
    px-2 py-1.5 sm:px-3 sm:py-2
    flex gap-2 justify-center items-center
    font-jetbrains-mono rounded-md
    bg-aqua-500/20
    dark:text-aqua-200 dark:fill-aqua-200 dark:bg-aqua-950;
  }
  .button:hover {
    @apply scale-105
    dark:text-aqua-800 dark:fill-aqua-800 dark:bg-aqua-300;
  }
  .contact-button {
    @apply button
    text-2xs sm:text-sm xl:text-base;
  }
  .nav-button {
    @apply button sm:w-full
    flex-1
    text-sm sm:text-lg xl:text-xl;
  }
  .tab-button {
    @apply button
    text-xs sm:text-base xl:text-lg;
  }  
  .tab {
    @apply w-full min-h-0 
    flex flex-col gap-2.5 sm:gap-4 xl:gap-5;
    /* transition-all duration-300 ease-out; */

    /* > div:not(.courselist) {
     @apply mb-1 bg-amber-200/20;
    } */
  }
  .tab-header {
    @apply 
    flex gap-4 sm:gap-6 xl:gap-7 justify-start items-center;
  }
  .tab-content {
    @apply max-h-[56dvh] sm:max-h-[50dvh] 
    flex flex-col gap-2 overflow-auto 
    rounded-lg;
  }
  .tab-logos {
    @apply w-fit p-2.5 sm:p-3 
    flex flex-wrap gap-4 sm:gap-6 xl:gap-7 items-center 
    bg-aqua-500/20
    rounded-lg dark:bg-aqua-950;
  }
  .tab-logos > a, .tab-header > a {
    @apply h-5 sm:h-7 xl:h-8
    transition-all duration-200 ease-[cubic-bezier(.3,2,.7,1)]
    hover:scale-110 hover:drop-shadow-white-sm;

    > svg {
      @apply fill-aqua-200;
    }
  }


  #window {
    @apply absolute right-[1%] w-[40%] top-[12%] h-[50%] blur-[2px]
    border-[16px] border-stone-950 
    bg-black bg-gradient-to-b from-blue-950/30 to-fuchsia-300/20;

    > div {
      @apply h-full w-full
      border-2 border-amber-100/10;
    }
  }
  #desk {
    @apply absolute inset-x-[-200%] top-[0%] bottom-[10%] 
    bg-amber-500 bg-gradient-to-b from-black/95 to-black/80;
    transform: perspective(1000px) translateY(49%) rotateX(86deg);
  }
  .laptop-top {
    @apply absolute inset-x-[25.2%] inset-y-[21%] p-[0.7%] pb-[1.5%]
    border-4 border-stone-400 bg-black rounded-3xl;
    -webkit-transform: perspective(1000px) rotateX(15deg);
    -moz-transform: perspective(1000px) rotateX(15deg);
    transform: perspective(1000px) rotateX(3deg) translateY(-8%);
  }
  .laptop-screen {
    @apply h-full flex flex-col gap-1 p-1.5
    rounded-lg
    bg-gradient-to-tr from-indigo-900 to-orange-900;

    #taskbar {
      @apply flex-1 mx-[15%] rounded-[12px] bg-white/10;
    }
  }
  .laptop-base {
    @apply absolute inset-[15.5%]
    drop-shadow-xl
    rounded-3xl border-b-8 border-black/95
    bg-stone-400 bg-gradient-to-b from-white/15 to-black/70 blur-[3px];
    /* border: 5px solid #fff; */
    transform: perspective(1000px) translateY(49%) rotateX(90deg);
  }
  .keyboard {
    @apply mt-[5%] mb-[2%] mx-[6%] p-[2%] rounded-[5%] bg-black/20;
    img {
      @apply w-full;
    }
  }
  .touchpad {
    @apply mx-auto w-[30%] h-[30%] rounded-[3%] bg-black/50
  }


  #about {
    @apply absolute inset-x-[25%] top-[11%] z-10 flex justify-center;
    transform: perspective(1000px) rotateX(3deg);
  }
  #skill-explorer {
    @apply p-2 flex flex-col bg-slate-600 rounded-lg;
  }
  #browser {
    @apply p-1 h-[92%] flex flex-col 
    bg-gray-300/85 rounded-lg text-base;
  }
  .window-nav {
    @apply bg-white/30 -m-1 mb-0 p-1 px-3 flex justify-center items-center gap-1
    rounded-t-xl;

    .window-buttons {
      @apply flex-1 flex gap-1;
      > button {
        @apply h-3.5 aspect-square flex justify-center items-center 
        rounded-3xl text-black/30 text-xs font-bold; 
      }
    }
    
    .search-bar {
      @apply w-1/2 px-3 py-1 rounded-md bg-black/15 text-black/50;
    }
  }
  .tabs-nav {
    @apply mb-1 -mx-1 p-0.5 flex items-center gap-0.5
    bg-black/10;

    > a {  /* tab button */
      @apply flex-1 px-1 py-0.5 bg-white/5 text-center;
    }
    > a[selected] {  /* selected tab button */
      @apply bg-white/20;
    }
  }
  .page-container {
    @apply flex-1 min-h-0 p-1 flex flex-col bg-gray-100 rounded-lg;
  }
  .page {
    @apply flex-1 overflow-y-auto ;
  }

    
  .courselist {
    @apply px-2 flex flex-col overflow-auto
    border-l-2 border-aqua-100/40;
    
    > span {
      @apply italic;

    }
    > span:not(:first-child) {
      @apply mt-3;
    }
    
    > a {
      @apply w-fit link;
    }
  }

  
  /* main {
    @apply w-fit h-screen flex overflow-x-scroll scroll-smooth;
    
    section {
      @apply w-screen h-screen p-[10vw] content-center snap-start snap-always bg-gradient-to-b;
    }
    section:last-child {
      @apply pb-[10dvh];
    }
  } */
  
  p {
    @apply text-xs sm:text-base xl:text-lg;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-merriweather font-semibold
    dark:text-aqua-200;
  }
  
  h1 {
    @apply text-5xl sm:text-6xl xl:text-8xl
    italic dark:text-aqua-200;
  }
  h2 { @apply text-3xl sm:text-5xl xl:text-6xl; }
  h3 { @apply text-xl sm:text-3xl xl:text-4xl; }
  h4 { @apply text-lg  sm:text-2xl xl:text-3xl; }
  h5 { @apply text-lg  xl:text-xl; }
  h6 { @apply text-base xl:text-lg; }
}

body {
  @apply text-xs sm:text-base xl:text-lg;
  margin: 0;
  /* min-width: 100vw;
  min-height: fit-content; */
}

:root {
  font-family: Noto Sans, Roboto Flex, Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply dark:text-aqua-50/75 dark:bg-aqua-950;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* scrollbar-width: thin;
  scrollbar-color: #ffffff1f transparent; */
}